@media only screen and (max-width: 760px) {


  /*  Mobile Header Styles  */

  header h1 {
    display: none;
  }

  .desktop, .logo-desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  nav.mobile {
    display: block;
    width: 100%;
    justify-content: space-around;
  }

  nav.mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .mobile li {
  padding: 0;
  }


  /*  Mobile Banner Styles  */

  .banner .content {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .banner .image-container {
    max-width: none;
    max-height: 180px;
    padding: 0;
    margin-bottom: 2rem;
  }

  .banner .headline {
    max-width: none;
    width: 100%;
    margin: 0;
    padding-bottom: 2rem;
  }

  .headline h2, h3 {
    margin: 0 1rem;
  }

  .headline h3 {
    padding: 2rem 0 1.5rem 0;
  }

  .button {
    margin: 0 1rem;
  }


  /*Mobile Articles Styles */

  .articles .main-column {
    display: none;
  }

  .articles .second-column {
    max-width: none;
    width: 100%;
  }

  .second-column .image-container {
    max-width: none;
    width: 100%;
    margin-right: 0;
  }

  .image-container .desktop {
    display: none;
  }

  .image-container .mobile {
    display: block;
  }

  .articles .information {
    flex-direction: column;
    align-items: flex-start;
  }

  .details {
    padding: 1rem 1rem 0 1rem;
  }


  /*Mobile Start Learning Styles */

  .sectionhead {
      padding: 2rem 0 1rem 0;
  }

  .courses {
    flex-direction: column;
  }

  .course {
    background-color: #d8d8d8;
    margin-bottom: .5rem;
  }

  .course-info {
    padding: 1rem;
  }

  .course .image-container {
    display: none;
  }

  .course-info h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .course-info p {
    display: none;
  }


  /*  Mobile Footer Styles  */

  .main-column {
    max-width: 100%;
    padding: 2rem 0 0 0;;
  }

  .thesis .second-column {
    display: none;
  }

  .thesis .main-column h3 {
    display: none;
  }

  .thesis .main-column p {
    display: none;
  }


  /*  Mobile Footer Styles  */

  footer ul {
    display: none;
  }


}
